/*
 * CSS for registered block styles.
 * See inc/register-block-styles.php.
 */

/* Flat button */
.is-style-temple-seva-portal-flat-button .wp-block-button__link,
.is-style-temple-seva-portal-flat-button .wp-block-button__link:hover,
.is-style-temple-seva-portal-flat-button .wp-block-button__link:focus,
.is-style-temple-seva-portal-flat-button .wp-block-button__link:active,
.is-style-temple-seva-portal-flat-button .wp-block-button__link:visited {
	box-shadow: none;
	border-radius: 0;
	margin-top: initial;
	margin-bottom: initial;
}

/* Box shadow */
.is-style-temple-seva-portal-box-shadow {
	box-shadow: var(--wp--preset--shadow--natural);
}

/* Lists */
.is-style-temple-seva-portal-list-underline li {
	border-bottom: 1px solid currentcolor;
}

.is-style-temple-seva-portal-list-underline ul {
	border-top: 1px solid currentcolor;
}

.is-style-temple-seva-portal-list-underline ul li {
	border: none;
}

details.is-style-temple-seva-portal-plus > summary {
	list-style-type: "+ ";
}

details[open].is-style-temple-seva-portal-plus > summary {
	list-style-type: "- ";
}

details.is-style-temple-seva-portal-plus > summary::marker {
	font-weight: 700;
	font-size: 1em;
	font-family: var(--wp--preset--font-family--monospace);
}
